*{
  background-color: blue;
}
.App {
  text-align: center;
  
}

.box {
  width: 300px;
  padding: 10px;
  height: 30px;
  border-radius: 10px;
  font-size: 25px;
}
.inputdiv {
  display: flex;
  justify-content: center;

  gap: 10px;
}
.button {
  background-color: #61dafb;
  border-radius: 10px;
  cursor: pointer;
}
.dlt {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.button2 {
  background-color: #61dafb;
  border-radius: 10px;
  margin-top: 20px;
  height: 45px;
  cursor: pointer;
}
